out
dist
node_modules
.vscode-test/
.vscode
*.vsix
coverage
.debricked
resources/debricked-cli/debricked_download.log
resources/debricked-cli/cli
# Sentry Config File
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin
